#one{
    color:blue ;
}

.two{
    color: blueviolet;
}

#three{
    color: brown;
}

#four{
    color: darkcyan;
}

#six{
    color: rgb(4, 248, 4);
}

.seven{
    color: forestgreen;
}

.eight{
    color: goldenrod;
}

.nine{
    color: purple;
}
